body {
    background-image: url("https://staticctf.ubisoft.com/J3yJr34U2pZ2Ieem48Dwy9uqj5PNUQTn/1Qt1YwgGKMOLHQi6imAwVJ/c53a57160c2f897e62c067ad2deeb8e5/-BS-_Page_Meta_Image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

h2 {
    color:white;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    
}

th{
    border-style: solid;

}

td{
    background-color: azure;
    color: black;
    text-align: center;
    font-weight:bold;
    border-style: solid;
    
}

table {
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    border-collapse: collapse;
    width: 70%  ;
}


